<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Про нас</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background: #f0f0f0;
        }
        header {
            background-color: #333;
            padding: 15px 20px;
        }
        footer {
            background-color: #333;
            color:#f0f0f0;
            padding: 15px 20px;
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
        nav a:hover {
            text-decoration: underline;
        }
        main {
            padding: 40px 20px;
            background: white;
            /*max-width: 900px;*/
            margin: 20px auto;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        .row{
            font-family: serif;
            font-size: 20px;
            display: flex;
            justify-content: space-around;
        }
        .col-3 a{
            color:#f0f0f0;
        }
        .col-4{
            border-radius: 10px;
            border-color: #333;
            padding: 20px 60px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="/">Головна</a>
            <a href="/about/">Про нас</a>
            <a href="/rules/">Правила</a>
            <a href="/subscriptions/">Абонементи</a>
            <a href="/profile/">Профіль</a>
        </nav>
    </header>

    <main>
    <div class="row">
        <div class="col-4">
            <h1>ПРАВИЛА</h1>
        </div>
        <div class="col-8">
            <ol>
                <li><span>Перед</span> <span>початком</span> <span>занять</span> <span>всі відвідувачі</span> <span>в обов'язковому</span> <span>порядку</span> <span>повинні</span> <span>ознайомитися з правилами</span> <span>СК</span>.</li>
                <li><span>Абонемент</span> <span>діє</span> <span>1</span> <span>місяць </span>- <span>1</span> <span>рік,</span> <span>вступаючи</span> <span>в дію</span> <span>з</span> <span>моменту</span> <span>покупки або активації клубом(якщо акційний)</span>.</li>
                <li>Продовжити абонемент можна лише після закінчення попереднього. Акційний абонемент можна придбати в будь-який час, але відповідно діяти він почне з дня оплати і автоматично анулює залишок попереднього, якщо такий є.</li>
                <li><span> </span><span>Абонемент є</span> <span>індивідуальним і</span> <span>не передбачає</span> <span>вхід</span> <span>2</span><span>-</span>х <span>або</span> <span>більше осіб.</span> <span>Абонемент</span> <span>не підлягає</span> <span>поверненню</span>, <span>обміну. </span><span>Абонемент видається тільки <strong>при наявності документів</strong>.</span></li>
                <li><span> </span><span><strong>Заморозка</strong> абонементу можлива <strong>одноразово</strong> на 1 місяць для абонементів на 12 місяців, на 2 тижні для абонементів на 6 місяців, і на 1 тиждень для абонементів на 3 місяці.</span></li>
                <li><span> </span><span>Всі абонементи діють по мережі.</span></li>
                <li><span><strong>Переоформлення</strong> абонементу на іншу особу оплачується додатково у розмірі: місячного - 200 грн, квартального - 300 грн, піврічного &ndash; 600 грн, річного &ndash; 1000 грн.</span></li>
                <li><strong>Сума, сплачена за абонемент, є остаточною і поверненню не підлягає.</strong></li>
                <li>Якщо до кінця терміну надання послуг (терміну абонемента) клієнт з яких-небудь причин не скористається ними в повному обсязі, кошти за ненадані послуги клієнту не повертаються, термін надання послуг не продовжується та не переноситься.</li>
                <li><span> </span><span><strong>Вхід у зал тільки за наявності картки (абонементу) або її фотографії</strong></span><strong>.</strong><strong> <span>За втрачену картку (абонемент) стягується штраф у розмірі 50 грн. Вхід по документах можливий одноразово як виключення.</span></strong></li>
                <li>Оренда шафки не надається. Ключ від шафки після закінчення тренування повертається на рецепцію клубу в обов&rsquo;язковому порядку.</li>
                <li><span>За</span> <span>загублений,</span> <span>зламаний або неповернений</span> <span>ключ</span> <span>після</span> <span>тренування</span> <span>стягується</span> <span>штраф</span> у розмірі <span>5</span><span>0</span> <span>грн</span>.</li>
                <li><span>Всі</span> <span>клієнти</span> <span>при</span> <span>роботі</span> <span>з</span> <span>ваговими</span> <span>снарядами</span> <span>в обов'язковому</span> <span>порядку</span> <span>повинні розбирати</span> <span>їх</span> <span>після</span> <span>себе</span>.</li>
                <li><span>Клієнти повинні мати охайний вигляд,</span><span> </span><span>без різких запахів тютюну та парфумів. </span><span>Забороняються</span><span> </span><span>заняття</span><span> в стані алкогольного та наркотичного сп</span><span>&rsquo;</span><span>яніння</span><span>, а також </span><span>без</span><span> </span><span><u>змінного</u></span><u> одягу</u><span><u> </u></span><span><u>та змінного закритого </u></span><span><u>взуття</u></span><span> </span>.</li>
                <li><strong>Обов&rsquo;язково мати при собі особистий рушник </strong><strong></strong><strong>для занять у тренажерному залі та на групових</strong>&nbsp; <strong>заняттях!</strong></li>
                <li>Групові заняття проводяться тренером згідно розкладу за мінімальною кількістю від <strong>3</strong> осіб. Переконлива рекомендація: приходити на заняття вчасно. Запізнення більш ніж на 15 хвилин небезпечно для Вашого здоров'я. Тренер має право не допустити клієнта на дане заняття. <strong>Обов</strong><strong>&rsquo;</strong><strong>язково перед груповим заняттям зареєструватись на рецепції</strong><strong> клубу</strong><strong>.</strong></li>
                <li>Брати інвентар на заняття в залі &laquo;групових занять&raquo; лише з дозволу тренера.</li>
                <li><span>Цінні</span> <span>речі залишати</span> <span>на рецепції спортивного клубу</span>. Адміністрація клубу не несе відповідальності за залишені або загублені речі клієнтів.</li>
                <li><span>За ефективність і</span> <span>безпеку</span> <span>самостійного</span> <span>тренування</span> <span>спорт</span> <span>клуб</span> <span>і</span> <span>персонал</span> <span>відповідальності не</span> <span>несе</span>.</li>
                <li><span> </span><span>За пошкодження майна у спортивному клубі (наприклад: розбиття дзеркала, пошкодження інвентаря і т. п.) матеріальну відповідальність несе клієнт.</span></li>
                <li><span> </span>Дотримуйтесь правил техніки безпеки перебування у тренажерному залі.</li>
                <li>Клуб не несе відповідальності за стан особистого здоров&rsquo;я клієнта.</li>
                <li>Комплекс з 10 персональних тренувань потрібно використати протягом 2-х місяців.</li>
                <li><strong>Клієнт зобов</strong><strong>&rsquo;</strong><strong>язаний за 3 год. попередити тренера про запізнення або неявку на персональне тренування. У випадку недотримання даного правила персональне заняття по комплексу вважається зарахованим.</strong></li>
                <li>Тренажерний зал можуть відвідувати діти з 14 до 16 років тільки з дозволу батьків (письмова заява). Батьки несуть персональну і матеріальну відповідальність за дітей на території спортивного клубу.</li>
                <li>Діти до 14 років можуть займатися у тренажерному залі тільки з тренером або з батьками.</li>
                <li><strong>Вхід в клуби з понеділка по суботу з 7.00, Вихід &ndash; до 21.55! В неділю: вхід з 9.00, вихід до 18.55.</strong></li>
            </ol>
        </div>
    </div>
    </main>
    <footer class="bg-secondary text-light text-center py-2">
        <div >
            <div class="row">
                <div class="col-3">
                    <h2>Контакти</h2>
                    <p>Графік роботи :</p>
                    <p>Пн - Сб: 07:00-22:00</p>
                    <p>Нд: 09:00 -19:00</p>
                    <p>+380322546099</p>
                </div>
                <div class="col-3">
                    <h2>Меню</h2>
                    <a href="/">Головна</a></br>
                    <a href="/about/">Про нас</a></br>
                    <a href="/rules/">Правила</a></br>
                    <a href="/profile/">Профіль</a></br>
                    <a href="/subscriptions/">Абонементи</a>
                </div>
            </div>
        </div>
        <p align="center">&copy; 2025</p>
    </footer>
</body>
</html>
